main {
    width: 100%;

    box-sizing: border-box;

    /* padding-top: 145px; */

    /* height: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.best-features-container {

    width: inherit;
    box-sizing: border-box;


    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.best-features-container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* gap: 20px; */    
    width: 100%;
    min-width: 250px;
    gap: 20px;
    /* flex-wrap: wrap; */

    max-width: var(--general-max-width);
    padding: 10px var(--general-lateral-padding-page);
}

.best-features {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(227, 227, 227, 0.3),
                -5px -10px 5px rgba(227, 227, 227, 0.3);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(246, 246, 246, 0.923);

    padding: 15px 25px;

    font-family: var(--text-family);
    font-size: 1rem;
    /* margin-right: 15px; */
}

.best-features:last-of-type {
    margin-right: 0;
}

.best-features > div:first-of-type svg {
    width: 50px;
    height: 50px;
    fill: rgb(70, 70, 70);
    margin-right: 25px;
}

.best-features h3 {
    font-size: 1em;
    margin: 0;
    padding: 0 0 10px 0;
    letter-spacing: 1px;
    color: var(--title-color);
}

.best-features p {
    font-size: .8em;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.more-features-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 400px;

    background-image: url(../../img/Sandra-background-big.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    padding: 50px var(--lateral-marging);
    box-sizing: border-box;
    gap: 20px;
}

.more-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    /* border: 1px solid rgba(255, 255, 255, 0.903); */
    /* border-radius: 20px; */
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );

    /* margin-right: 20px; */
    box-sizing: border-box;
    padding: 30px; 
}

.more-features h2 {
    color: white;
    font-family: var(--text-family);
    padding: 0;
    margin: 0;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;

    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.379);
}

.more-features:last-of-type {
    margin-right: 0;
}

.more-features.pink {
    background-color: #dad2cf;
}

.more-features.cyan {
    background-color: #c0ccca;
}

.more-features.green {
    background-color: #2e4e43;
}

.why-choose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

    margin-top: 30px;
}

.water-drops {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px 60px;
    /* border: 1px solid black; */
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 50px 0;
}

.water-drops .drop {
    position: relative;
    width: 350px;
    height: 350px;
    /* background: #333; */

    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
                25px 53px 20px rgba(0, 0, 0, 0.05),
                25px 30px 30px rgba(0, 0, 0, 0.05),
                inset -20px -20px 25px rgba(255, 255, 255, 0.9);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* padding: 10px 50px; */
}

.water-drops .drop:hover {
    border-radius: 50%;
}

.drop:nth-child(1) {
    border-radius: 42% 58% 55% 45% / 39% 36% 64% 61%;
}

.drop:nth-child(2) {
    border-radius: 59% 41% 44% 56% / 62% 49% 51% 38%;
}

.drop:nth-child(3) {
    border-radius: 70% 30% 41% 59% / 53% 42% 58% 47%;
}

.drop:nth-child(4) {
    border-radius: 37% 63% 50% 50% / 58% 42% 58% 42%;
}

.water-drops .drop::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    top: 50px;
    left: 90px;
    opacity: 0.6;
}

.water-drops .drop::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    top: 90px;
    left: 120px;
    opacity: 0.6;
}

.drop .drop-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 40px; */
    /* gap: 15px; */
    /* border: 1px solid black; */
}

.drop .drop-content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    /* background-color: red; */
    /* z-index: 1; */
    font-size: 16px;
    font-family: sans-serif;
}